.jumbotron {     background: #abaaa5 !important;}
html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}
.navbar .navbar-fixed-top{
       background: #99cf16; /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */

}
#navdiv{
    background: #99cf16;
    padding: 0px;    
}

.btn {
    padding: 16px;
    border-radius: 0px;
    border: none;
     background: #99cf16;
   
}

.nav>li>a:hover {
     background:#99cf16;
}
.navbar-toggle {
    border-color: white;
     background: #99cf16;
}
.icon-bar {
    background: white;
}
#dashboard-container {
padding-top: 20px;

}
table {
    font: initial;
    top: 0px;
    right: 1px;
    opacity: 10.0;
}
tbody {
    opacity:2000;
}