body {
}

.question {
    padding: 0;
    margin: 5px 0 20px 0;
    /*box-shadow: 0 0 2px 0;*/
}
.question-number {
    margin-right: 10px;
}
.question-text {
    
}

.question-number, .question-text {
    font-size: 1.3em;
    color: #99cf16;
    font-weight: 700;
}
.sub-block-title {
    margin-left: 20px;
    font-size: 1em;
    font-weight: 700;
    color: #FF8800;
}
.question label  {
    margin: 0 5px 0 10px;
    color: #e1f1b9;
}
.text-count-wrapper {
    color: #e1f1b9;
}
.question-block{
    padding: 10px;
    box-shadow: 0 0 10px 0 #eee;
    margin: 20px 0 20px 0;
    border-radius: 2px;
    background: #555;

}
.question-block .question-block-title{
    margin-top: 0; 
    color: #e1f1b9;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    padding: 20px;
    background: #99cf16;
}
.has-error {
    color: #ff0000;
    font-weight: 600;
}
label.has-error, .server-control {
    display: block;
}
.saveButton {
    margin-left: 15px;
}

.selectablePoll {
    color: #fff;
    background: #99CF16;
    border-color: #76AC00;
}
.selectablePoll:hover {
    color: #fff;
    background: #76AC00;
    cursor: pointer;
}
table thead {
    background: #76AC00;
    color: #fff;
}
