body {
}

.question {
    padding: 0;
    margin: 5px 0 20px 0;
    /*box-shadow: 0 0 2px 0;*/
}
.question-number {
    margin-right: 10px;
}
.question-text {
    
}

.question-number, .question-text {
    font-size: 1.3em;
    color: #FF8800;
    font-weight: 700;
}
.sub-block-title {
    margin-left: 20px;
    font-size: 1em;
    font-weight: 700;
    color: #FF8800;
}
.question input {
    margin: 0 5px 0 10px;
}

.question-block{

}
.question-block .question-block-title{

}
.has-error {
    color: #ff0000;
    font-weight: 600;
}
label.has-error, .server-control {
    display: block;
}
.saveButton {
    margin-left: 15px;
}

.selectablePoll {
    color: #fff;
    background: #99CF16;
    border-color: #76AC00;
}
.selectablePoll:hover {
    color: #fff;
    background: #76AC00;
    cursor: pointer;
}
table thead {
    background: #76AC00;
    color: #fff;
}
