.saveButton {
    margin-left: 15px;
}
body {
}
.surveyName {
    color: #FF7900;
    width: 100%;
    padding: 10px;
}
.question {
    padding: 0;
    margin: 30px 0 30px 0;
    /*box-shadow: 0 0 2px 0;*/
}
.question-number {
    margin-right: 10px;
}
.question-text {
    
}

.question-number, .question-text {
    font-size: 1.3em;
    color: #FF7900;
    font-weight: 700;
}
.sub-block-title {
    margin-left: 20px;
    font-size: 1em;
    font-weight: 700;
    color: #FF7900;
}
.text-count-wrapper {
    color: #00A779;
}
.question-block{
    padding: 10px;
    box-shadow: 0 0 2px 0 #eee;
    margin: 20px 0 20px 0;
    border-radius: 2px;
    background: #ffffff;

}
.question-block .question-block-title{
    margin-top: 0; 
    color: #555;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    padding: 20px;
    background: #FF7100;
}
.choice {
    display: inline-block;
    margin: 0 10px;
}
.choice label {
    margin: 0 5px;
    color: #00A779;
}
label.has-error, .server-control {
    display: block;
}
.saveButton {
    margin-left: 15px;
}


.btn {
    border-radius: 0;
    padding: 10px;
}

form.surveyForm {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 70px;
}
.has-error {
    color: rgb(222, 22, 65);
    font-weight: 600;
}