.saveButton {
    margin-left: 15px;
}
body {
    background: #444;
}
.surveyName {
    color: #99cf16;
    width: 100%;
    padding: 10px;
}
.question {
    padding: 0;
    margin: 20px 0 40px 0;
    /*box-shadow: 0 0 2px 0;*/
}
.question-number {
    margin-right: 10px;
}
.question-text {
    
}

.question-number, .question-text {
    font-size: 1.3em;
    color: #99cf16;
    font-weight: 700;
}
.sub-block-title {
    margin: 40px 10px;
    font-size: 1.5em;
    font-weight: 700;
    color: #eee;
}
.text-count-wrapper {
    color: #e1f1b9;
}
.question-block{
    padding: 10px;
    box-shadow: 0 0 2px 0 #eee;
    margin: 20px 0 20px 0;
    background: #555;

}
.question-block .question-block-title{
    margin-top: 0; 
    color: #e1f1b9;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    padding: 20px;
    background: #16cf28;
}
.choice {
    display: inline-block;
    margin: 0 5px;
}
.choice label {
    margin: 0 5px;
    color: #e1f1b9;
}
label.has-error, .server-control {
    display: block;
}
.saveButton {
    margin-left: 15px;
}

.btn {
    border-radius: 0;
    padding: 10px;
}

form.surveyForm {
    background: #444;
    padding: 20px;
    margin-bottom: 70px;
}
.has-error {
    color: rgb(222, 22, 65);
    font-weight: 600;
}